table
{
    border-collapse: collapse;
    width: 100%;
    
}

th
{
    background-color: lightseagreen;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2;}

th, td
{
    text-align: left;
    padding: 8px;
}

.cerrar
{
    display: inline-block;
    padding: 15px 15px;
    background-color: red;
    border-radius: 4px;
    box-sizing: border-box; 
    margin: 6px 6px 6px 6px;
}
.contenedor
{
    width: 50%;
    border-radius: 5px;
    background-color: thistle;
    padding: 20px;
    position: fixed;
    top: 10%;
    left: 25%;
}

#btnEliminar
{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    background-color: crimson;
    border-radius: 4px;
    box-sizing: border-box; 
    left: 68%;
}

#btnModificar
{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    background-color:coral;
    border-radius: 4px;
    box-sizing: border-box;
    left: 5% 
}

.sinError
{
    border: 1px solid #ccc;
}

.error
{
    border: 1px solid red;
}

.cargando
{
    position: fixed;
    left: 39%;
    top: 45%;
    opacity: 50%;
}

input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;

    border-radius: 4px;
    box-sizing: border-box; 
}



input[type=date]
{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;

    border-radius: 4px;
    box-sizing: border-box; 
}

input[type=number]
{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;

    border-radius: 4px;
    box-sizing: border-box; 
}